* {
  margin: 0;
}

.all {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.all .box1 {
  display: flex;
  align-items: center;
  gap: 30px;
}
.all .select {
  border: none;
}
.all button {
  padding: 8px 20px;
  border-radius: 20px;
  border: 1px solid blue;
  background-color: transparent;
  color: blue;
}

.all-1 {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.all-1 img {
  width: 420px;
}
.all-1 .text-1 {
  width: 400px;
  margin: 10px 0px;
}
.all-1 .flex {
  display: flex;
  align-items: center;
}
.all-1 .flex img {
  width: 23px;
}
.all-1 .flex-obshi {
  display: flex;
  gap: 20px;
}
.all-1 .rigth {
  margin-top: -20px;
}
.all-1 .flex-oxir {
  display: flex;
  align-items: center;
  margin: 10px 0px;
}
.all-1 .flex-oxir img {
  width: 50px;
}

.all-2 {
  margin-top: 30px;
  box-sizing: border-box;
  margin: 30px 50px;
  width: 70%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.all-2 .flex-1 {
  display: flex;
  gap: 20px;
}
.all-2 .flex {
  display: flex;
  align-items: center;
  gap: 6px;
}
.all-2 .width {
  width: 340px;
  margin: 10px 0px;
}
.all-2 .obshi {
  margin-top: 50px;
  margin-left: -20px;
}
.all-2 .oo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.section-2 {
  display: flex;
}

.select-1 .q-1 {
  display: flex;
  align-items: center;
  position: relative;
  right: 40px;
  top: 40px;
}
.select-1 .foto {
  margin-top: 50px;
  margin-left: -40px;
}
.select-1 .foto img {
  width: 160px;
  margin: 10px 0px;
}
.select-1 .foto h5 {
  width: 230px;
}
.select-1 .foto-1 {
  margin-top: 120px;
  margin-left: -40px;
}
.select-1 .foto-1 img {
  width: 160px;
  margin: 10px 0px;
}
.select-1 .foto-1 h5 {
  width: 230px;
}
.select-1 .foto-2 {
  margin-top: 150px;
  margin-left: -40px;
}
.select-1 .foto-2 img {
  width: 160px;
  margin: 10px 0px;
}
.select-1 .foto-2 h5 {
  width: 230px;
}
.select-1 .foto-3 {
  margin-top: 150px;
  margin-left: -40px;
}
.select-1 .foto-3 img {
  width: 160px;
  margin: 10px 0px;
}
.select-1 .foto-3 h5 {
  width: 230px;
}

.section-3 h1 {
  width: 400px;
  margin: 10px 0px;
}
.section-3 input {
  padding: 8px 10px;
  width: 200px;
  border-radius: 6px;
  border: none;
  border: 1px solid black;
  outline: none;
}
.section-3 button {
  padding: 6px 20px;
  border-radius: 20px;
  background-color: blue;
  color: white;
  border: none;
}

.obshi-1 {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid gray;
  box-sizing: border-box;
  margin: 80px 60px;
}
.obshi-1 .fg p {
  width: 400px;
  margin-top: 20px;
}

.section-4 {
  background-color: #333333;
  width: 100%;
  height: 120vh;
  padding-top: 40px;
}
.section-4 .bacimg {
  background-image: url(./foto/Rectangle\ 271.png);
  width: 80%;
  height: 50vh;
  margin: auto;
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
  box-sizing: border-box;
  padding: 20px 50px;
}
.section-4 .z {
  color: white;
  margin-top: 40px;
  margin-left: 50px;
}
.section-4 .z img {
  width: 300px;
}
.section-4 .z .flex-3 {
  display: flex;
  align-items: center;
}
.section-4 .z .width {
  width: 300px;
}
.section-4 .z .oo {
  display: flex;
  align-items: center;
}
.section-4 .z .oo img {
  width: 50px;
}
.section-4 .asdf {
  display: flex;
  justify-content: space-evenly;
}
.section-4 .p {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}
.section-4 .p .pl {
  width: 350px;
  color: white;
}
.section-4 .p .as img {
  width: 200px;
}

.ol {
  display: flex;
  justify-content: center;
  margin: 50px 0px;
  gap: 20px;
  border-bottom: 2px solid gray;
  padding: 20px 0px;
  box-sizing: border-box;
  margin: 20px 250px;
}

.flexing {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.oxir {
  width: 270px;
}
.oxir img {
  width: 250px;
  margin: 10px 0px;
}
.oxir .kj {
  display: flex;
  gap: 10px;
  color: gray;
}
.oxir .sd {
  display: flex;
  align-items: center;
  gap: 5px;
}
.oxir .sd img {
  width: 50px;
}/*# sourceMappingURL=main.css.map */