*{
    margin: 0;
}
.all{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .box1{

        display: flex;
        align-items: center;
        gap: 30px;
    }
    .select{
        border: none;

    }
    button{
        padding: 8px 20px;
        border-radius: 20px;
        border: 1px solid blue;
        background-color: transparent;
        color: blue;
    }
}
.all-1{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
  img{
    width: 420px;
  }
  .text-1{
    width: 400px;
    margin: 10px 0px;
  }
  .flex{
    display: flex;
    align-items: center;
    img{
        width: 23px;
    }
  }
  .flex-obshi{
    display: flex;
    gap: 20px;
  }
  .rigth{
    margin-top: -20px;
  }
  .flex-oxir{
    display: flex;
    align-items: center;
    margin: 10px 0px;
    img{
        width: 50px;
    }
  }
  
    
}
.all-2
{


 margin-top: 30px;
 box-sizing: border-box;
 margin: 30px 50px ;
 width: 70%;
 display: flex;
 justify-content: space-around;
 flex-wrap: wrap;
 .flex-1{
    display: flex;
    gap: 20px;
 }
 .flex{
    display: flex;
    align-items: center;
    gap: 6px;
 }
 .width{
    width: 340px;
    margin: 10px 0px;
 }
 .obshi{
    margin-top: 20px;
    margin-left: -20px;
 }
 .oo{
    display: flex;
    align-items: center;
    gap: 10px;
 }

}
.section-2{
    display: flex;
}
.select-1{
    
    .q-1{
        display: flex;
        align-items: center;
        position: relative;
        right: 40px;
        top: 40px;
    }
    .foto{
        
        margin-top:50px;
        margin-left: -40px;
        img{
            width: 160px;
            margin: 10px 0px;
        }
        h5{
            width: 230px;
        }
    }
    .foto-1{
  
        margin-top:120px;
        margin-left: -40px;
        
        img{
            width: 160px;
            margin: 10px 0px;
        }
        h5{
            width: 230px;
        }
        
    }

    
      .foto-2{
  
        margin-top:150px;
        margin-left: -40px;
        img{
            width: 160px;
            margin: 10px 0px;
        }
        h5{
            width: 230px;
        }
    }
      .foto-3{
  
        margin-top:150px;
        margin-left: -40px;
        img{
            width: 160px;
            margin: 10px 0px;
        }
        h5{
            width: 230px;
        }
    }
}



    



