*{
    margin: 0;
}
.all{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .box1{

        display: flex;
        align-items: center;
        gap: 30px;
    }
    .select{
        border: none;

    }
    button{
        padding: 8px 20px;
        border-radius: 20px;
        border: 1px solid blue;
        background-color: transparent;
        color: blue;
    }
}
.all-1{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
  img{
    width: 420px;
  }
  .text-1{
    width: 400px;
    margin: 10px 0px;
  }
  .flex{
    display: flex;
    align-items: center;
    img{
        width: 23px;
    }
  }
  .flex-obshi{
    display: flex;
    gap: 20px;
  }
  .rigth{
    margin-top: -20px;
  }
  .flex-oxir{
    display: flex;
    align-items: center;
    margin: 10px 0px;
    img{
        width: 50px;
    }
  }
  
    
}