*{
    margin: 0;
}
.all{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .box1{

        display: flex;
        align-items: center;
        gap: 30px;
    }
    .select{
        border: none;

    }
    button{
        padding: 8px 20px;
        border-radius: 20px;
        border: 1px solid blue;
        background-color: transparent;
        color: blue;
    }
}
.all-1{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
  img{
    width: 420px;
  }
  .text-1{
    width: 400px;
    margin: 10px 0px;
  }
  .flex{
    display: flex;
    align-items: center;
    img{
        width: 23px;
    }
  }
  .flex-obshi{
    display: flex;
    gap: 20px;
  }
  .rigth{
    margin-top: -20px;
  }
  .flex-oxir{
    display: flex;
    align-items: center;
    margin: 10px 0px;
    img{
        width: 50px;
    }
  }
  
    
}
.all-2{


 margin-top: 30px;
 box-sizing: border-box;
 margin: 30px 50px ;
 width: 70%;
 display: flex;
 justify-content: space-around;
 flex-wrap: wrap;
 .flex-1{
    display: flex;
    gap: 20px;
 }
 .flex{
    display: flex;
    align-items: center;
    gap: 6px;
 }
 .width{
    width: 340px;
    margin: 10px 0px;
 }
 .obshi{
    margin-top: 50px;
    margin-left: -20px;
 }
 .oo{
    display: flex;
    align-items: center;
    gap: 10px;
 }

}
.section-2{
    display: flex;
}
.select-1{
    
    .q-1{
        display: flex;
        align-items: center;
        position: relative;
        right: 40px;
        top: 40px;
    }
    .foto{
        
        margin-top:50px;
        margin-left: -40px;
        img{
            width: 160px;
            margin: 10px 0px;
        }
        h5{
            width: 230px;
        }
    }
    .foto-1{
  
        margin-top:120px;
        margin-left: -40px;
        
        img{
            width: 160px;
            margin: 10px 0px;
        }
        h5{
            width: 230px;
        }
        
    }

    
      .foto-2{
  
        margin-top:150px;
        margin-left: -40px;
        img{
            width: 160px;
            margin: 10px 0px;
        }
        h5{
            width: 230px;
        }
    }
      .foto-3{
  
        margin-top:150px;
        margin-left: -40px;
        img{
            width: 160px;
            margin: 10px 0px;
        }
        h5{
            width: 230px;
        }
    }
}
.section-3{


  h1{
    width: 400px;
    margin: 10px 0px;
  }
  input{
    padding: 8px 10px;
    width: 200px;
    border-radius: 6px;
    border: none;
    border: 1px solid black;
    outline: none;
  }
  button{
    padding: 6px 20px;
    border-radius: 20px;
    background-color: blue;
    color: white;
    border: none        ;
  }

}
.obshi-1{
    display: flex;
    justify-content: space-around;
    border-top: 1px solid gray;
    box-sizing: border-box ;
    margin: 80px 60px;
    .fg{

        p{
            width: 400px;
            margin-top: 20px;
        }
    }
}
.section-4{
    background-color: #333333;
    width: 100%;
    height: 120vh;
    padding-top: 40px;
    .bacimg{
        background-image: url(./foto/Rectangle\ 271.png);
        width: 80%;
        height: 50vh;
        margin: auto;
        background-repeat: no-repeat;
        background-size: 100%;
        color: white;
        box-sizing: border-box;
        padding: 20px  50px; 
    }
    .z{
        color: white;
        margin-top: 40px;
        margin-left: 50px;
        img{
            width: 300px;
        }
        .flex-3{
            display: flex;
            align-items: center;
        }
        .width{
            width: 300px;
        }
        .oo{
            display: flex;
            align-items: center;
        }
        .oo{
            img{
                width: 50px;
            }
        }
    }
    .asdf{
        display: flex;
        justify-content: space-evenly;
    }
   
    .p{
       display: flex;
       gap: 20px;
      margin-top: 10px;
       
       .pl{
        width: 350px;
        color: white;
       }
       .as{
           img{
            width: 200px;
           }
       }
    }

    
}
.ol{
    display: flex;
    justify-content: center;
    margin: 50px 0px;
    gap: 20px;
    border-bottom: 2px solid gray;
    padding: 20px 0px;
    box-sizing: border-box;
    margin: 20px 250px ;
    
    

}
.flexing{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.oxir{
    width: 270px;
        img{
            width: 250px;
            margin: 10px 0px;
        }
        .kj{
 display: flex;
 gap: 10px;
color: gray;
         }
         .sd{
            display: flex;
            align-items: center;
            gap: 5px;
            img{
                width: 50px;
            }
         }
    }

    .bacblue{
        background-color: blue;
        width: 100%;
        height: 60vh;
        color: white;
        text-align: center;
        box-sizing: border-box;
        padding-top: 50px;
        .but{
            background-color: rgb(255, 255, 255);
            border: none;
            color: rgb(13, 0, 255);
            padding: 8px 20px ;
            border-radius: 20px;
        }.chack{
            display: flex;
        }
        .olp{
 display: flex;
 justify-content: center;
 margin-top: 30px;
 gap: 20px;
        }

    }






    



